/* Grid area assignments */
.item1 { grid-area: header;padding: 10px 0px; border-top: 2px solid white;border-bottom:2px solid white ;}
.item2 { grid-area: menu; background-color: white;border-radius: 16px;}
.item3 { grid-area: main;background-color: white; border-radius: 16px;}
.item4 { grid-area: right;background-color: white; border-radius: 16px;}
.item5 { grid-area: footer;padding: 10px 0px;border-bottom: 2px solid white;border-top:2px solid white ; }

/* Desktop and Tablet Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header right right'
    'menu menu main main right right'
    'menu menu footer footer footer footer';
  grid-template-rows: 70px 60vh 70px;
  grid-template-columns: 250px auto 200px auto 250px auto;
  gap: 10px;
  background-color: #131a22;
}
.glass{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.78);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.7px);
-webkit-backdrop-filter: blur(4.7px);
border: 1px solid rgba(255, 255, 255, 0.69);
}

/* Grid item styling */
.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  font-size: 20px;
}

/* Remove default list styling */
ul {
  list-style-type: none;
  padding: 0;
}

.item1 { 
    grid-area: header; 
    overflow: hidden; /* Ensures the content stays within the header bounds */
}

/* Marquee container */
.marquee {
    overflow: hidden;
    position: relative;
    height: 100%;
}

/* The content to scroll (this will contain two copies of the images) */
.marquee-content {
    position:absolute;
    display: flex;
    gap: 20px; /* Space between images */
}

.marquee-content img,.marquee-content1 img {
    width: 45px; /* Set the width of each image */
    height: 45px; /* Maintain aspect ratio */
}

.circularImg{
    height:70px;
    width:70px
  }
  .circularMobile{
    height: 130px;
    width:130px;
  }
  .mobileCircle{
    column-gap:40px;
    row-gap: 20px;
  }

/* Keyframes for scrolling */
/* @keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
} */

/* @keyframes marquee1 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
} */


/* Mobile Layout */
@media (max-width: 768px) {
  .grid-container {
    grid-template-areas:
      'header'
      'menu'
      'main'
      'right'
      'footer';
    grid-template-rows: 70px 600px 800px 500px 70px;
    grid-template-columns:85vw;
  }
  .mobileCircle{
    gap:10px;
  }

  .circularImg{
    height: 40px;
    width:40px
  }
  .circularMobile{
    height: 90px;
    width:90px;
  }

  .grid-container > div {
    /* padding: 15px 0; */
  }
}

